<h1><%= @battle.battle_name %></h1>

<table>
  <tr>
    <th>ID</th>
    <th>Fleet</th>
    <th>Badge</th>
    <th>Approve</th>
  </tr>
  <% @battle.fleets.each do |f| %>
  <tr>
    <td><%= f.id %></td>
    <td><%= f.fleet_name %></td>
    <td><%= render badge_partial(f) if badge_partial(f) %></td>
    <td><%= render button_partial(f) if button_partial(f) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create fleet", new_battle_fleet_path(@battle) unless approved_any? or is_fleet_created? %>
