<h1><%= link_to @battle.battle_name, battle_path(@battle) %></h1>

<table>
  <tr>
    <th>ID</th>
    <th>Fleet</th>
    <th>Badge</th>
    <th>Approve</th>
  </tr>
  <% @battle.fleets.each do |f| %>
  <tr>
    <td><%= f.id %></td>
    <td><%= f.fleet_name %></td>
    <td><%= render badge_partial(f) if badge_partial(f) %></td>
    <td><%= render :partial => button_partial(f), :locals => { :fleet => f } if button_partial(f) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create fleet", new_battle_fleet_path(@battle) unless @battle.joiner_approved? or is_fleet_created? %>
