<%= javascript_tag do %>
  window.App = {};
  window.App.w = <%= @w %>;
  window.App.h = <%= @h %>;
  window.App.lengths = <%= @lengths %>;
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "fleets/new" %>
<% end %>

<table>
  <tr>
    <td>
      <table>
        <% for y in 0 .. @h - 1 %>
          <tr>
            <% for x in 0 .. @w - 1 %>
              <% i = y * @w + x %>
              <td id="<%= "grid-#{i}" %>">.</td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </td>
    <td>
      <p><button onclick="window.App.generate()">Generate</button></p>
    </td>
  </tr>
</table>
