<h1>Battle radar</h1>

<h2>Blank battles</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Battle</th>
    <th>Configuration</th>
  </tr>
  <% @blank_battles.each do |b| %>
  <tr>
    <td><%= b.id %></td>
    <td><%= link_to b.battle_name, battle_path(b.id) %></td>
    <td><%= b.battle_configuration.configuration_name %></td>
  </tr>
  <% end %>
</table>

<%= link_to "New Battle" , new_battle_path %>

<h2>Ongoing battles</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Battle</th>
    <th>Configuration</th>
    <th colspan="2">Fleets</th>
  </tr>
  <% @ongoing_battles.each do |b| %>
  <tr>
    <td><%= b.id %></td>
    <td><%= link_to b.battle_name, battle_path(b.id) %></td>
    <td><%= b.battle_configuration.configuration_name %></td>
    <% b.approved_fleets.each do |f| %>
      <td><%= f.fleet_name %></td>
    <% end %>
  </tr>
  <% end %>
</table>
