<% flash.each do |name, msg| %>
  <%= content_tag :b, msg %>
<% end %>

<%= form_for @battle do |f| %>
  <div>
    <%= f.label "Battle name" %>
    <%= f.text_field :battle_name %>
    <% if @battle.errors[:battle_name].any? %>
      <%= content_tag :b, @battle.errors[:battle_name].first %>
    <% end %>
  </div>

  <% BattleConfiguration.all.each do |battle_cfg| %>
    <div>
      <%= f.radio_button :battle_configuration_id,
                         battle_cfg.id,
                         :checked => @battle.battle_configuration_id == battle_cfg.id %>
      <%= f.label battle_cfg.configuration_name %>
      <%= f.label battle_configuration_description battle_cfg %>
    </div>
  <% end %>

  <%= recaptcha_tags %>
  <%= f.submit "Create" %>
<% end %>
